<template>
  <div id="app">
    <SecretChallenge :heading="heading"/>
  </div>
</template>

<script>
import SecretChallenge from '/components/SecretChallenge.vue'

export default {
  name: 'app',
  components: {
    SecretChallenge
  },
  data() {
    return {
      heading: 'Secret Message Challenge!'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
